{% extends 'base.html.twig' %}

{% block body %}
	nip: {{ nip }} <br/><br/>
	dane firmy: <br/><br/>
	nazwa: {{ name }}<br/>
	regon: {{ regon }}<br/>
	województwo: {{ province }}<br/>
	powiat: {{ district }}<br/>
	osiedle: {{ community }}<br/>
	miejscowość: {{ place }}<br/>
	kod pocztowy: {{ zipcode }}<br/>
	ulica: {{ street }}<br/>
{% endblock %}
