{% extends 'base.html.twig' %}

{% block body %}
	<ul>
		<li><a href="{{ path('app_nip_index') }}">NIP</a></li>
		<li><a href="{{ path('app_ip_index') }}">IP Info</a></li>
		<li><a href="{{ path('app_ip_form') }}">IP Form</a></li>
	</ul>
{% endblock %}
