{% for message in app.flashes('success') %}
	<div class="alert alert-success">
	    {{ message }}
	</div>
{% endfor %}
{{ form_start(form) }}
    {{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
{{ form_end(form) }}
<a href="{{ path('app_index_index') }}">{% trans %}Home{% endtrans %}</a>
